
$colors:(
    'primary':#309fbc,
    'white':#fff,
    'light':#f9f9f9,
    'gray':#999,
    'dark-1':#343440,
    'dark':#222,
    'black':#000,
    'golden':#ab8e66,
    'golden-1':#cea861,
    'dark-3':#666,
    'dark-2':#333,
    'border-color':#bbb
);

$base-font-size:1rem;
$font-size:(
    xs:0.7692,  //10
    sm:0.9231,  //12
    md:1,       //13
    lg:1.0769,  //14
    xl:1.2308,  //16
    xxl:1.5385,  //20
    xxxl:1.8462,  //24
);

$flex-js:(
    start:flex-start,
    end:flex-end,
    center:center,
    between:space-between,
    around:space-around,
);

$flex-ai:(
    start:flex-start,
    end:flex-end,
    center:center,
    stretch:stretch
);


// 边距 m-l-1
$spacing-types:(m:margin,p:padding);
$spacing-direction:(l:left,r:right,t:top,b:bottom);
$spacing-base-size:1rem;
$spacing-sizes:(0:0,1:0.25,2:0.5,3:1,4:1.5,5:3);
